<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251498802868-dec29i574mat7fsojqkm67es7e032es8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251498802868-dec29i574mat7fsojqkm67es7e032es8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0rM77BKX3dObdT353Fp19W2cexx5e0E8</string>
	<key>GCM_SENDER_ID</key>
	<string>251498802868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.eosChatting</string>
	<key>PROJECT_ID</key>
	<string>eos-clock-a6511</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-clock-a6511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251498802868:ios:099c6b54690f869a34b1e1</string>
</dict>
</plist>